body {
  font-family: Arial, sans-serif;
  background-color: #f8f9fa; 
  margin: 0;
  padding: 0;
  animation: fadeIn 0.5s ease; 
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.container {
  max-width: 1100px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff; 
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
  animation: slideIn 0.5s ease; 

@keyframes slideIn {
  from {
    transform: translateY(-50px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
}
h1 {
  text-align: center;
  color: #333;
}

h2 {
  text-align: center;
  color: #666; 
}

label {
  color: #007bff; 
}

.cocktail-options {
  text-align: center;
  margin-bottom: 20px;
}

input[type="radio"] {
  display: none; 
}

input[type="radio"] + label {
  display: inline-block;
  margin: 0 10px;
  padding: 8px 16px;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease; 
}

input[type="radio"] + label:hover {
  background-color: green; 
  color: #fff; 
}

input[type="radio"]:checked + label {
  background-color: #007bff; 
  color: #fff; 
}

button {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  background-color: #28a745; 
  color: #fff; 
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease; 
}

button:hover {
  background-color: #218838; 
  transform: scale(1.05); 
}



.cocktail-images {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 20px;
    justify-items: center;
  }
  
  .cocktail-images img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    transition: transform 0.3s ease; 
  }
  
  .cocktail-images img:hover {
    transform: scale(1.1); 
    border: 2px solid blue;
  }
  

  .cocktail-images div {
    text-align: center;
  }
  